.brands
  h2.brands__title Наши бренды
  .brands__top
    button.brands__nav.brands__nav--prev: +the_svg('arrow-right')
    button.brands__nav.brands__nav--next: +the_svg('arrow-right')
    .brands__slider.brands__slider--logos
      .brands__slides
        .brands__logo.brands__logo--active: button.brands__card: img(src=require('src/modules/brands/img/brand_01.png'))
        .brands__logo: button.brands__card: img(src=require('src/modules/brands/img/brand_02.png'))
        .brands__logo: button.brands__card: img(src=require('src/modules/brands/img/brand_03.png'))
        .brands__logo: button.brands__card: img(src=require('src/modules/brands/img/brand_01.png'))
        .brands__logo: button.brands__card: img(src=require('src/modules/brands/img/brand_02.png'))
        .brands__logo: button.brands__card: img(src=require('src/modules/brands/img/brand_03.png'))

  .brands__slider.brands__slider--texts
    .brands__slides
      .brands__text.content
        p: b Преимущества Катеpal:
        p Особую выносливость черепице KATEPAL обеспечивает её сложная структура – результат долгих разработок и испытаний, позволивший создать идеальный материал для кровли.
        p В основание гонтов заложен стеклохолст, обеспечивающий превосходную стабильность размеров, а также способный выдержать значительное продольное растяжение. Стеклохолст пропитан  СБС-модифицированным венесуэльским битумом – эксклюзивным материалом, гарантирующим эластичность и морозоустойчивость кровельного покрытия и всего кровельного пирога.
        p Лицевая поверхность плиток покрыта сланцевыми и/или минеральными гранулами. Гранулы специальным образом керамизируются и наносятся на поверхность гонта с запасом в 10%. Данную технологию использует только завод Katepal OY. Несмотря на удорожание производства, только такой подход обеспечивает 100% покрытие битума гранулятом, что придаёт прочность и красоту кровле на долгие годы.
        p Обратная сторона гонтов имеет слой самоклеющегося битума, который значительно повышает надёжность материала.
      .brands__text.content
        p: b Преимущества Tegola:
        p Особую выносливость черепице KATEPAL обеспечивает её сложная структура – результат долгих разработок и испытаний, позволивший создать идеальный материал для кровли.
        p В основание гонтов заложен стеклохолст, обеспечивающий превосходную стабильность размеров, а также способный выдержать значительное продольное растяжение. Стеклохолст пропитан  СБС-модифицированным венесуэльским битумом – эксклюзивным материалом, гарантирующим эластичность и морозоустойчивость кровельного покрытия и всего кровельного пирога.
        p Лицевая поверхность плиток покрыта сланцевыми и/или минеральными гранулами. Гранулы специальным образом керамизируются и наносятся на поверхность гонта с запасом в 10%. Данную технологию использует только завод Katepal OY. Несмотря на удорожание производства, только такой подход обеспечивает 100% покрытие битума гранулятом, что придаёт прочность и красоту кровле на долгие годы.
        p Обратная сторона гонтов имеет слой самоклеющегося битума, который значительно повышает надёжность материала.
      .brands__text.content
        p: b Преимущества Docke:
        p Особую выносливость черепице KATEPAL обеспечивает её сложная структура – результат долгих разработок и испытаний, позволивший создать идеальный материал для кровли.
        p В основание гонтов заложен стеклохолст, обеспечивающий превосходную стабильность размеров, а также способный выдержать значительное продольное растяжение. Стеклохолст пропитан  СБС-модифицированным венесуэльским битумом – эксклюзивным материалом, гарантирующим эластичность и морозоустойчивость кровельного покрытия и всего кровельного пирога.
        p Лицевая поверхность плиток покрыта сланцевыми и/или минеральными гранулами. Гранулы специальным образом керамизируются и наносятся на поверхность гонта с запасом в 10%. Данную технологию использует только завод Katepal OY. Несмотря на удорожание производства, только такой подход обеспечивает 100% покрытие битума гранулятом, что придаёт прочность и красоту кровле на долгие годы.
        p Обратная сторона гонтов имеет слой самоклеющегося битума, который значительно повышает надёжность материала.
      .brands__text.content
        p: b Преимущества Катеpal:
        p Особую выносливость черепице KATEPAL обеспечивает её сложная структура – результат долгих разработок и испытаний, позволивший создать идеальный материал для кровли.
        p В основание гонтов заложен стеклохолст, обеспечивающий превосходную стабильность размеров, а также способный выдержать значительное продольное растяжение. Стеклохолст пропитан  СБС-модифицированным венесуэльским битумом – эксклюзивным материалом, гарантирующим эластичность и морозоустойчивость кровельного покрытия и всего кровельного пирога.
        p Лицевая поверхность плиток покрыта сланцевыми и/или минеральными гранулами. Гранулы специальным образом керамизируются и наносятся на поверхность гонта с запасом в 10%. Данную технологию использует только завод Katepal OY. Несмотря на удорожание производства, только такой подход обеспечивает 100% покрытие битума гранулятом, что придаёт прочность и красоту кровле на долгие годы.
        p Обратная сторона гонтов имеет слой самоклеющегося битума, который значительно повышает надёжность материала.
      .brands__text.content
        p: b Преимущества Tegola:
        p Особую выносливость черепице KATEPAL обеспечивает её сложная структура – результат долгих разработок и испытаний, позволивший создать идеальный материал для кровли.
        p В основание гонтов заложен стеклохолст, обеспечивающий превосходную стабильность размеров, а также способный выдержать значительное продольное растяжение. Стеклохолст пропитан  СБС-модифицированным венесуэльским битумом – эксклюзивным материалом, гарантирующим эластичность и морозоустойчивость кровельного покрытия и всего кровельного пирога.
        p Лицевая поверхность плиток покрыта сланцевыми и/или минеральными гранулами. Гранулы специальным образом керамизируются и наносятся на поверхность гонта с запасом в 10%. Данную технологию использует только завод Katepal OY. Несмотря на удорожание производства, только такой подход обеспечивает 100% покрытие битума гранулятом, что придаёт прочность и красоту кровле на долгие годы.
        p Обратная сторона гонтов имеет слой самоклеющегося битума, который значительно повышает надёжность материала.
      .brands__text.content
        p: b Преимущества Docke:
        p Особую выносливость черепице KATEPAL обеспечивает её сложная структура – результат долгих разработок и испытаний, позволивший создать идеальный материал для кровли.
        p В основание гонтов заложен стеклохолст, обеспечивающий превосходную стабильность размеров, а также способный выдержать значительное продольное растяжение. Стеклохолст пропитан  СБС-модифицированным венесуэльским битумом – эксклюзивным материалом, гарантирующим эластичность и морозоустойчивость кровельного покрытия и всего кровельного пирога.
        p Лицевая поверхность плиток покрыта сланцевыми и/или минеральными гранулами. Гранулы специальным образом керамизируются и наносятся на поверхность гонта с запасом в 10%. Данную технологию использует только завод Katepal OY. Несмотря на удорожание производства, только такой подход обеспечивает 100% покрытие битума гранулятом, что придаёт прочность и красоту кровле на долгие годы.
        p Обратная сторона гонтов имеет слой самоклеющегося битума, который значительно повышает надёжность материала.

  include ../individual/individual2
