.product
  .product__container
    +breadcrumbs(['Каталог', 'Кровля', 'Металлочерепица', 'Название товара'])
    .product__content
      .product__head
        .product__aside
          .product__badges
            .product__badge.product__badge--danger хит продаж
            .product__badge -20%
          .product__slider
            .product__slides
              each i in [1,2,3,4,5]
                .product__slide
                  img(src=require('src/img/catalog/' + i + '.jpg'))
          .product__thumbs
            each i in [1,2,3,4,5]
              button.product__thumb(class=i === 1 && 'product__thumb--active')
                img(src=require('src/img/catalog/' + i + '.jpg'))
          .product__buttons
            .product__button: a(href='#') Онлайн калькулятор
            .product__button: a(href='#') Калькулятор доставки

        .product__main
          h1.product__title Некоторое название товара которое отображается
          include ../productBuy/productBuy

          .product__coat
            .product__coatTitle Характеристики покрытия:
            .product__coatSelect
              select.select
                option(value='Satin1') Satin1
                option(value='Satin2') Satin2
                option(value='Satin3') Satin3
                option(value='Satin4') Satin4

          .product__info
            .product__infoPreview
              .product__infoItem
                .product__infoLabel длина
                .product__infoValue 1000±3 мм
              .product__infoItem
                .product__infoLabel рабочая ширина
                .product__infoValue 2,8±0,2 мм
              .product__infoItem
                .product__infoLabel количество метров в упаковке
                .product__infoValue 3 м2
            .product__infoRest
              .product__infoItem
                .product__infoLabel длина
                .product__infoValue 1000±3 мм
              .product__infoItem
                .product__infoLabel рабочая ширина
                .product__infoValue 2,8±0,2 мм
              .product__infoItem
                .product__infoLabel количество метров в упаковке
                .product__infoValue 3 м2
            button.product__infoButton
              .inactive Подробнее
              .active Меньше подробностей

          .product__filters
            .product__filter
              .product__filterLabel Цвет
              .product__filterSelect
                select.select
                  option(value='RAL 9005' data-data='{"color": "#db0d0d"}') RAL 9005
                  option(value='RAL 9005' data-data='{"color": "#db0d0d"}') RAL 1234
                  option(value='RAL 90051' data-data='{"color": "#db0d0d"}') RAL 345
                  option(value='RAL 90052' data-data='{"color": "#db0d0d"}') RAL 345152


      .product__headers
        button.product__header.product__header--active Сопутствующие материалы и услуги
        button.product__header Характеристики GRAND LINE металлочерепица Kvinta Uno
      .product__bodies
        .product__body.product__body--active
          .product__block
            .product__blockTitle
              .product__blockCounter 01
              | Нужны ДОБОРНЫЕ ЭЛЕМЕНТЫ?
            .product__options
              label.checkbox.product__checkbox
                input(type='radio' name='dobor' value='yes')
                span Да
              label.checkbox.product__checkbox
                input(type='radio' name='dobor' value='no')
                span Нет

            button.product__toggle
              span.product__toggleContent
                .inactive Посмотреть/скорректировать состав стандартного комплекта
                .active Скрыть состав стандартного комплекта
                +the_svg('chevrone-down')

            .product__table
              table
                thead
                  tr
                    th.product__tableName Состав комплекта
                    th.product__tablePrice Цена без учета#[br]скидки, руб.
                    th.product__tableCounter Количество
                    th.product__tableHelp Подсказа по расчету
                tbody
                  each i in [['Название', '2 500'], ['Что-то', '15 000'], ['Элемент', '400'], ['Продукция', '8 455']]
                    tr
                      td.product__tableName=i[0]
                      td.product__tablePrice=i[1]
                      td.product__tableCounter
                        .counter
                          button.counter__button.counter__button--minus &ndash;
                          input.counter__value(value='0')
                          button.counter__button.counter__button--plus +
                      td.product__tableHelp ...

          .product__block
            .product__blockTitle
              .product__blockCounter 02
              | Нужна ПОДШИВКА КРОВЛИ?
            .product__options
              label.checkbox.product__checkbox
                input(type='radio' name='dobor' value='yes')
                span Да
              label.checkbox.product__checkbox
                input(type='radio' name='dobor' value='no')
                span Нет

            button.product__toggle
              span.product__toggleContent
                .inactive Посмотреть/скорректировать состав стандартного комплекта
                .active Скрыть состав стандартного комплекта
                +the_svg('chevrone-down')

            .product__table
              table
                thead
                  tr
                    th.product__tableName Состав комплекта
                    th.product__tablePrice Цена без учета#[br]скидки, руб.
                    th.product__tableCounter Количество
                    th.product__tableHelp Подсказа по расчету
                tbody
                  each i in [['Название', '2 500'], ['Что-то', '15 000'], ['Элемент', '400'], ['Продукция', '8 455']]
                    tr
                      td.product__tableName=i[0]
                      td.product__tablePrice=i[1]
                      td.product__tableCounter
                        .counter
                          button.counter__button.counter__button--minus &ndash;
                          input.counter__value(value='0')
                          button.counter__button.counter__button--plus +
                      td.product__tableHelp ...

          .product__block
            .product__blockTitle
              .product__blockCounter 03
              | Нужен дополнительные элементы?
            .product__options
              label.checkbox.product__checkbox
                input(type='radio' name='vodostok' value='manager')
                span Снегодержатели
              label.checkbox.product__checkbox
                input(type='radio' name='vodostok' value='own')
                span Водосточная система
              label.checkbox.product__checkbox
                input(type='radio' name='vodostok' value='no')
                span Нет

          .product__block
            .product__blockTitle
              .product__blockCounter 04
              | Нужны дополнительные услуги?
            .product__options
              label.checkbox.product__checkbox
                input(type='radio' name='delivery' value='yes')
                span Да
              label.checkbox.product__checkbox
                input(type='radio' name='delivery' value='no')
                span Монтаж
              label.checkbox.product__checkbox
                input(type='radio' name='delivery' value='no')
                span Рассрочка 0%
              label.checkbox.product__checkbox
                input(type='radio' name='delivery' value='no')
                span Нет

            .product__note
              +the_svg('note')
              span Можете самостоятельно сделать расчет доставки в #[a(href='#') нашем калькуляторе]
            .product__note
              +the_svg('note')
              span Прочитайте  статью нашего эксперта #[a(href='#') «Топ грубейших ошибок при монтаже кровли».]

          .product__footer
            button.btn.btn--rightTop Добавить в корзину
            button.btn.btn--outline.btn--leftTop.btn--smRightTop Отправить на экспресс-расчет сметы

        .product__body
          include ../productDescription/productDescription

